.head_wrap {
    height: 71px;
    line-height: 71px;
    border-bottom: #f6f5f3 1px solid;
    box-sizing: content-box;
    display: flex;
    background: white;
    padding: 10px 10px 10px 20px;
}

.head_controls {

}

.head_controls_nav {
    font: 20px/27px YSTextRegular,Arial,Helvetica,sans-serif;
    line-height: 30px;
    list-style-type: none;
}

.head_controls_nav li {
    display: inline;
    cursor: pointer;
    color: gray;
    margin-right: 40px;
}

.head_controls_nav li:hover {
    color: red;
}

.head_red_dot {
    height: 10px;
    width: 10px;
}

/* for logo */

.head_logo {
    display: inline;
    cursor: pointer;
    font: 30px/37px YSTextRegular,Arial,Helvetica,sans-serif;
    font-weight: bold;
    line-height: 68px;
    margin-left: 20px;
    margin-right: 20px;
}

/* input */

.head_input {
    outline: none;
    border: none;
    height: 25px;
    font-size: 20px;
    margin-left: 35px;
}

.head_input_wrapper {
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 3px;
    position: relative;
    height: 40px;
    margin-top: 20px;
    padding: 0px;
}

.lupa {
    /*background-image: url('/loop.png');*/
    position: absolute;
    background-size: 100%;
    height: 30px;
    width: 30px;
    top: 20px;
    border: none;
    background: no-repeat;
    left: 0px;
}
